In [ ]:
import pandas as pd
import numpy as np

In [ ]:
### Colab 사용 전 드라이브 연결
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

### 지하철역 위치.shp.csv
### raw data 전처리
### : dataframe_n

In [ ]:
alarm = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/지하철역 위치.shp.csv', encoding = 'cp949')
alarm['행정동'] = alarm['지번주소'].str[6:]  # 지번주소의 6번째 이후의 데이터를 만들어서 저장
alarm['행정동'] = alarm['행정동'].str.lstrip()  # 앞 공백을 제거
alarm['행정동'].str.split(" ").head()  # 공백을 기준으로 분할
dong = alarm['행정동'].str.split(" ", expand=True)  # expand = True 데이터 프레임 형태로 저장
alarm['행정동'] = dong[1]  # dong의 두번째 열을 행정동으로 지정
dataframe = pd.DataFrame(alarm)
dataframe = dataframe.drop([dataframe.index[268], dataframe.index[269], 
                            dataframe.index[270], dataframe.index[271],
                            dataframe.index[272], dataframe.index[273],
                            dataframe.index[274]])  # 경기도 제거
dataframe_n = pd.DataFrame(dataframe['행정동'].value_counts())  # '행정동' 컬럼을 기준으로 각 행의 빈도수 나타내기
dataframe_n = dataframe_n.reset_index()
dataframe_n.rename(columns = {'index':'행정동명'}, inplace = True)  # 컬럼 이름 재설정
dataframe_n.rename(columns = {'행정동':'역 개수'}, inplace = True)  # 컬럼 이름 재설정
dataframe_n # 최종 데이터
# dataframe_n.to_csv('/content/gdrive/My Drive/datasciencebasis/지하철역 개수.csv', index = False, encoding = 'cp949')

      행정동명  역 개수
0      상계동     6
1      신당동     6
2      삼성동     6
3      가락동     5
4      사당동     5
..     ...   ...
166  삼선동1가     1
167  동선동4가     1
168    길음동     1
169    수유동     1
170    삼전동     1

[171 rows x 2 columns]

### 행정동별 서울시 병의원 정보.csv
### raw data 전처리
### : alarm_1

In [ ]:
alarm_1 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 서울시 병의원 정보.csv', encoding = 'cp949')
alarm_1 = pd.DataFrame(alarm_1)
alarm_1 = alarm_1[ : 225]  # 병원 개수 10개 미만인 행 삭제
alarm_1 = alarm_1.drop(index = 1) # 결측치 존재하는 행 번호 지정 후 제거
alarm_1.rename(columns = {'index':'행정동명'}, inplace = True)  # 컬럼 이름 재설정
alarm_1.rename(columns = {'입력주소':'병원 개수'}, inplace = True)  # 컬럼 이름 재설정
alarm_1
# alarm_1.to_csv('/content/gdrive/My Drive/datasciencebasis/병의원 개수.csv', index = False, encoding = 'cp949')

NameError: ignored

### 행정동별 주민등록인구 연령별 통계.csv
### raw data 전처리
### : alarm_2

In [ ]:
alarm_2 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 주민등록인구 연령별 통계.csv', encoding = 'cp949')
alarm_2 = pd.DataFrame(alarm_2)
alarm_2.rename(columns = {'동':'행정동명'}, inplace = True)  # 컬럼명 변경
alarm_2 = alarm_2.drop(['기간', '계'], axis = 1)  # 필요없는 컬럼 제거
alarm_2['청년인구 수'] = alarm_2['20~24세'] + alarm_2['25~29세'] + alarm_2['30~34세'] + alarm_2['35~39세']  # 열 생성 & 연산
alarm_2 = alarm_2.drop(columns = ['20~24세', '25~29세', '30~34세', '35~39세'], axis = 1)  # 필요없는 컬럼 제거
alarm_2
# alarm_2.to_csv('/content/gdrive/My Drive/datasciencebasis/청년인구 수.csv', index = False, encoding = 'cp949')

     자치구  행정동명   청년인구 수
0    종로구   사직동   2618.0
1    종로구   삼청동    639.0
2    종로구   부암동   2461.0
3    종로구   평창동   4550.0
4    종로구   무악동   1830.0
..   ...   ...      ...
421  강동구  천호2동  11059.5
422  강동구    길동  14483.0
423  강동구   강일동   7337.5
424  강동구  상일1동   9275.5
425  강동구  상일2동   2514.0

[426 rows x 3 columns]

### 행정동별 1인, 2인가구 현황.csv
### raw data 전처리
### : alarm_3

In [ ]:
alarm_3 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 1인,2인가구 현황.csv', encoding = 'utf-8')
alarm_3 = alarm_3.drop(columns = ['2인가구'], axis = 1)  # 필요없는 컬럼 제거
alarm_3.rename(columns = {'행정동':'행정동명'}, inplace = True)  # 컬럼명 변경
alarm_3
# alarm_3.to_csv('/content/gdrive/My Drive/datasciencebasis/1인가구 수.csv', index = False, encoding = 'cp949')

     자치구  행정동명  1인가구
0    종로구   사직동  1487
1    종로구   삼청동   380
2    종로구   부암동  1129
3    종로구   평창동  1302
4    종로구   무악동   494
..   ...   ...   ...
420  강동구  둔촌1동     6
421  강동구  둔촌2동  2389
422  강동구  암사1동  4551
423  강동구  천호2동  6378
424  강동구    길동  6909

[425 rows x 3 columns]

### 행정동별 주택 보급률.csv
### raw data 전처리
### : alarm_4

In [ ]:
alarm_4 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 주택 보급률.csv', encoding = 'cp949')
div = alarm_4.loc[:, ['주택보급률']]
div = div / 100
alarm_4.loc[:,'주택보급률(%)'] = div  # 주택보급률 백분율 컬럼 추가(인덱싱)
alarm_4 = alarm_4.drop(columns = ['주택보급률','일반가구수', '주택수', '기간'])  # 기존 주택보급률 컬럼 제거
alarm_4 = alarm_4.rename(columns = {'동':'행정동명'})  # 컬럼명 변경
alarm_4
# alarm_4.to_csv('/content/gdrive/My Drive/datasciencebasis/주택 보급률.csv', index = False, encoding = 'cp949')

     자치구  행정동명  주택보급률(%)
0    종로구   사직동     0.724
1    종로구   삼청동     0.708
2    종로구   부암동     0.814
3    종로구   평창동     0.951
4    종로구   무악동     0.992
..   ...   ...       ...
420  강동구  둔촌1동     0.385
421  강동구  둔촌2동     0.801
422  강동구  암사1동     0.699
423  강동구  천호2동     0.596
424  강동구    길동     0.757

[425 rows x 3 columns]

# '행정동명'을 기준으로 전처리한 데이터 모두 병합
## 과정 1.
####'법정동코드' + '행정동코드' 컬럼 문자열 붙히기

## 과정 2.
####과정 1에서 'code' 컬럼 생성

## 과정 3.
####'code' 컬럼명을 '행정동명'으로 재설정(기존 동 컬럼 제거)

## 과정 4.
####'행정동명'을 기준으로 9-21시 동안의 모든 전처리 데이터 병합

##과정 5.
####중복 행 제거, 결측치(NaN) 대치

#  - 완료 -

In [ ]:
alarm_5 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/서울시 건축물대장 법정동 코드정보.csv', encoding = 'utf-8')
alarm_5

      시군구코드  법정동코드  행정동코드    시도명  시군구명 법정동명   행정동명
0     11740  10300    526  서울특별시   강동구  상일동  상일제2동
1     11740  10300    525  서울특별시   강동구  상일동  상일제1동
2     11290  10300    620  서울특별시   성북구  돈암동  정릉제1동
3     11530  11200    800  서울특별시   구로구   항동     항동
4     11305  10300    635  서울특별시   강북구  수유동   수유3동
...     ...    ...    ...    ...   ...  ...    ...
1232  11110  14500    540  서울특별시   종로구  송현동    삼청동
1233  11110  18400    550  서울특별시   종로구  부암동    부암동
1234  11230  11000    740  서울특별시  동대문구  이문동  이문제1동
1235  11440  12100    670  서울특별시   마포구  동교동    동교동
1236  11440  12200    680  서울특별시   마포구  합정동    합정동

[1237 rows x 7 columns]

In [ ]:
alarm_5 = alarm_5.astype({'행정동코드':'str'})  # 행정동코드 문자형 변환
alarm_5 = alarm_5.astype({'시군구코드':'str'})  # 시군구코드 문자형 변환
alarm_5.dtypes  # 데이터프레임 데이터 형태 확인

시군구코드    object
법정동코드     int64
행정동코드    object
시도명      object
시군구명     object
법정동명     object
행정동명     object
dtype: object

In [ ]:
alarm_5['code'] = alarm_5['시군구코드'] + alarm_5['행정동코드']  # 시군구코드, 행정동코드 문자열 붙이기
alarm_5

      시군구코드  법정동코드 행정동코드    시도명  시군구명 법정동명   행정동명      code
0     11740  10300   526  서울특별시   강동구  상일동  상일제2동  11740526
1     11740  10300   525  서울특별시   강동구  상일동  상일제1동  11740525
2     11290  10300   620  서울특별시   성북구  돈암동  정릉제1동  11290620
3     11530  11200   800  서울특별시   구로구   항동     항동  11530800
4     11305  10300   635  서울특별시   강북구  수유동   수유3동  11305635
...     ...    ...   ...    ...   ...  ...    ...       ...
1232  11110  14500   540  서울특별시   종로구  송현동    삼청동  11110540
1233  11110  18400   550  서울특별시   종로구  부암동    부암동  11110550
1234  11230  11000   740  서울특별시  동대문구  이문동  이문제1동  11230740
1235  11440  12100   670  서울특별시   마포구  동교동    동교동  11440670
1236  11440  12200   680  서울특별시   마포구  합정동    합정동  11440680

[1237 rows x 8 columns]

In [ ]:
alarm_5 = alarm_5.astype({'code':'int'})  # 위에서 붙인 컬럼'code' 정수형 변환 
alarm_5.dtypes

시군구코드    object
법정동코드     int64
행정동코드    object
시도명      object
시군구명     object
법정동명     object
행정동명     object
code      int64
dtype: object

In [ ]:
alarm_6 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 서울 생활인구(202111).csv',
                      encoding = 'utf-8')  # 행정동 서울 생활인구
alarm_6.rename(columns={'행정동코드':'code'}, inplace=True)  # alarm_5, alarm_6 병합 위해서 컬럼명 재설정

alarm_7 = pd.merge(alarm_6, alarm_5, how = 'left', on='code')  # 컬럼 'code' 기준으로 병합
alarm_7 = alarm_7.drop(columns = ['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수',
                                  '남자35세부터39세생활인구수', '여자20세부터24세생활인구수', '여자25세부터29세생활인구수',
                                  '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', '시도명'])  # 연령별 컬럼 제거
alarm_7.drop_duplicates(['행정동명'])  # 행정동명 중복행 제거

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
0,20211101,0,11470680,22796.1407,11470,10100,680,양천구,신정동,신정7동
1,20211101,0,11440730,37070.1563,11440,12600,730,마포구,중동,성산제2동
3,20211101,0,11200590,17952.5176,11200,10900,590,성동구,금호동1가,금호1가동
4,20211101,0,11680656,30585.8034,11680,11800,656,강남구,도곡동,도곡제2동
5,20211101,0,11680730,16468.2665,11680,11400,730,강남구,일원동,일원제1동
...,...,...,...,...,...,...,...,...,...,...
768,20211101,0,11230710,18470.7047,11230,10800,710,동대문구,회기동,회기동
769,20211101,0,11500640,22468.1467,11500,10900,640,강서구,방화동,방화제2동
771,20211101,0,11380650,11016.0757,11380,10100,650,은평구,수색동,수색동
772,20211101,0,11710566,14836.3812,11710,11100,566,송파구,방이동,오륜동
773,20211101,0,11560670,6608.6909,11560,13300,670,영등포구,대림동,신길제5동

In [ ]:
alarm_7.dtypes
time_list = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
today_alarm_7 = alarm_7[alarm_7['시간대구분'].isin(time_list)]
today_alarm_7.drop(columns = ['시군구코드', '법정동코드', '행정동코드', '법정동명', 'code'])  # 필수 컬럼 제외 후 제거

           기준일ID  시간대구분      총생활인구수 시군구명   행정동명
6975    20211101      9  20841.5609  광진구  자양제3동
6976    20211101      9  20841.5609  광진구  자양제3동
6977    20211101      9  18710.1746  강남구  일원제1동
6978    20211101      9  18710.1746  강남구  일원제1동
6979    20211101      9  17654.0771  강서구  화곡제3동
...          ...    ...         ...  ...    ...
556445  20211130     21  15262.4543   중구    소공동
556446  20211130     21  15262.4543   중구    소공동
556447  20211130     21  15262.4543   중구    소공동
556448  20211130     21  29675.2626  강동구  둔촌제2동
556449  20211130     21  29675.2626  강동구  둔촌제2동

[302250 rows x 5 columns]

In [ ]:
ID_list = [20211106, 20111107, 20111113, 20111114,
           20111120, 20111121, 20111127, 20111128]  # 평일 9 - 21시에 활동하는 동별 생활인구 수 추출
today_alarm_7[~today_alarm_7['기준일ID'].isin(ID_list)]
t_work = today_alarm_7[~today_alarm_7['기준일ID'].isin(ID_list)]
t_work

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
6975,20211101,9,11215840,20841.5609,11215,10600,840,광진구,노유동,자양제3동
6976,20211101,9,11215840,20841.5609,11215,10500,840,광진구,자양동,자양제3동
6977,20211101,9,11680730,18710.1746,11680,11400,730,강남구,일원동,일원제1동
6978,20211101,9,11680730,18710.1746,11680,11500,730,강남구,수서동,일원제1동
6979,20211101,9,11500560,17654.0771,11500,10300,560,강서구,화곡동,화곡제3동
...,...,...,...,...,...,...,...,...,...,...
556445,20211130,21,11140520,15262.4543,11140,11400,520,중구,태평로2가,소공동
556446,20211130,21,11140520,15262.4543,11140,11500,520,중구,남대문로2가,소공동
556447,20211130,21,11140520,15262.4543,11140,11100,520,중구,소공동,소공동
556448,20211130,21,11740700,29675.2626,11740,10600,700,강동구,둔촌동,둔촌제2동
556449,20211130,21,11740700,29675.2626,11740,10500,700,강동구,길동,둔촌제2동

In [ ]:
ID_list = [20211106, 20111107, 20111113, 20111114,
           20111120, 20111121, 20111127, 20111128]  # 주말 9 - 21시에 활동하는 동별 생활인구 수 추출
today_alarm_7[today_alarm_7['기준일ID'].isin(ID_list)]
t_holi = today_alarm_7[today_alarm_7['기준일ID'].isin(ID_list)]
t_holi

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
99975,20211106,9,11110515,17667.0659,11110,10500,515,종로구,창성동,청운효자동
99976,20211106,9,11110515,17667.0659,11110,10300,515,종로구,궁정동,청운효자동
99977,20211106,9,11110515,17667.0659,11110,11900,515,종로구,세종로,청운효자동
99978,20211106,9,11110515,17667.0659,11110,10800,515,종로구,통인동,청운효자동
99979,20211106,9,11110515,17667.0659,11110,10400,515,종로구,효자동,청운효자동
...,...,...,...,...,...,...,...,...,...,...
110045,20211106,21,11740660,28523.8167,11740,10800,660,강동구,성내동,성내제3동
110046,20211106,21,11740685,55704.4865,11740,10500,685,강동구,길동,길동
110047,20211106,21,11740690,4488.6801,11740,10600,690,강동구,둔촌동,둔촌제1동
110048,20211106,21,11740700,26133.3066,11740,10600,700,강동구,둔촌동,둔촌제2동
110049,20211106,21,11740700,26133.3066,11740,10500,700,강동구,길동,둔촌제2동

In [ ]:
alarm_8 = alarm_7[(alarm_7['행정동명'] == '제기동') | (alarm_7['행정동명'] == '홍제제1동') | (alarm_7['행정동명'] == '홍제제2동') | (alarm_7['행정동명'] == '홍제제3동')]
alarm_8['행정동명'] = alarm_8['행정동명'].str.replace('홍제제1동', '홍제1동')
alarm_8['행정동명'] = alarm_8['행정동명'].str.replace('홍제제2동', '홍제2동')
alarm_8['행정동명'] = alarm_8['행정동명'].str.replace('홍제제3동', '홍제3동')
alarm_8

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
78,20211101,0,11410620,26896.5635,11410,11100,620,서대문구,홍제동,홍제1동
102,20211101,0,11410640,16655.0735,11410,11100,640,서대문구,홍제동,홍제3동
143,20211101,0,11410655,11066.0308,11410,11100,655,서대문구,홍제동,홍제2동
402,20211101,0,11230545,33374.8362,11230,10300,545,동대문구,제기동,제기동
928,20211101,1,11410640,16764.9211,11410,11100,640,서대문구,홍제동,홍제3동
...,...,...,...,...,...,...,...,...,...,...
556895,20211130,22,11410655,11062.1107,11410,11100,655,서대문구,홍제동,홍제2동
557316,20211130,23,11410620,26362.0645,11410,11100,620,서대문구,홍제동,홍제1동
557445,20211130,23,11410640,16907.8464,11410,11100,640,서대문구,홍제동,홍제3동
557718,20211130,23,11230545,32751.1038,11230,10300,545,동대문구,제기동,제기동
557846,20211130,23,11410655,11069.0764,11410,11100,655,서대문구,홍제동,홍제2동

In [ ]:
alarm_9 = alarm_7[(alarm_7['행정동명'] != '제기동') & (alarm_7['행정동명'] != '홍제제1동') & (alarm_7['행정동명'] != '홍제제2동') & (alarm_7['행정동명'] != '홍제제3동')]
alarm_9['행정동명'] = alarm_9['행정동명'].str.replace('제', '')
alarm_10 = pd.concat([alarm_9, alarm_8], axis = 0)
alarm_10

alarm_10 = alarm_10.drop(['code', '시군구코드', '법정동코드', '행정동코드','법정동명'], axis = 1)  # 생활시간(9 - 21) 데이터 추출
time_list = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
alarm_10 = alarm_10[alarm_10['시간대구분'].isin(time_list)]
alarm_10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           기준일ID  시간대구분      총생활인구수  시군구명  행정동명
6975    20211101      9  20841.5609   광진구  자양3동
6976    20211101      9  20841.5609   광진구  자양3동
6977    20211101      9  18710.1746   강남구  일원1동
6978    20211101      9  18710.1746   강남구  일원1동
6979    20211101      9  17654.0771   강서구  화곡3동
...          ...    ...         ...   ...   ...
555473  20211130     20  31044.8733  동대문구   제기동
555853  20211130     21  10829.6227  서대문구  홍제2동
555858  20211130     21  31551.3058  동대문구   제기동
556005  20211130     21  16913.6564  서대문구  홍제3동
556250  20211130     21  24522.5805  서대문구  홍제1동

[302250 rows x 5 columns]

In [ ]:
### 평일 9 - 21시에 활동하는 동별 생활인구 수 추출
final = pd.DataFrame(alarm_10)
ID_list = [20211106, 20111107, 20111113, 20111114, 20111120, 20111121, 20111127, 20111128]  
final[~final['기준일ID'].isin(ID_list)]
final_week = final[~final['기준일ID'].isin(ID_list)]
# '행정동명' 컬럼을 기준으로 총생활인구수의 평균 집계
final_weekday = pd.DataFrame(final_week.groupby(final_week['행정동명'])['총생활인구수'].mean())  
final_weekday = final_weekday.reset_index()  # 행정동별 평일 9 - 21시 총생활인구수
final_weekday = final_weekday.rename(columns = {'총생활인구수':'평일 총생활인구수'})
final_weekday

     행정동명     평일 총생활인구수
0    가락1동  26125.190719
1    가락2동  25993.547328
2    가락본동  41818.437201
3    가리봉동  11824.105384
4     가산동  81435.798440
..    ...           ...
418   효창동   9989.714368
419   후암동  12678.979160
420  휘경1동  17092.518970
421  휘경2동  18469.509247
422   흑석동  31487.727133

[423 rows x 2 columns]

In [ ]:
### 주말 9 - 21시에 활동하는 동별 생활인구 수 추출
ID_list = [20211106, 20111107, 20111113, 20111114, 20111120, 20111121, 20111127, 20111128]
final[final['기준일ID'].isin(ID_list)]
final_holi = final[final['기준일ID'].isin(ID_list)]
final_holi = pd.DataFrame(final.groupby(final['행정동명'])['총생활인구수'].mean())
final_holiday = final_holi.reset_index()  # 행정동별 주말 9 - 21시 총생활인구수
final_holiday = final_holiday.rename(columns = {'총생활인구수':'주말 총생활인구수'})
final_holiday

     행정동명     주말 총생활인구수
0    가락1동  26120.413194
1    가락2동  25947.167555
2    가락본동  41624.432934
3    가리봉동  11764.873715
4     가산동  80162.635242
..    ...           ...
418   효창동   9980.813432
419   후암동  12671.304860
420  휘경1동  17118.852358
421  휘경2동  18424.607232
422   흑석동  31408.086541

[423 rows x 2 columns]

In [ ]:
### 9 - 21시 행정동별 데이터 병합
final_dat = pd.merge(final_holiday, final_weekday, how = 'left', on='행정동명')
final_dat
final_dat1 = pd.merge(final_dat, alarm_2, how = 'left', on = '행정동명')  # pop_age.csv
final_dat2 = pd.merge(final_dat1, alarm_3, how = 'left', on = '행정동명')  # pop_youth.csv
final_dat3 = pd.merge(final_dat2, alarm_4, how = 'left', on = '행정동명')  # housing.csv
final_dat3.drop(columns = {'자치구_x','자치구_y'}, inplace = True)
final_dat3 = final_dat3[['자치구', '행정동명', '평일 총생활인구수',
                         '주말 총생활인구수', '청년인구 수', '1인가구', '주택보급률(%)']]
final_dat3

      자치구  행정동명     평일 총생활인구수     주말 총생활인구수   청년인구 수    1인가구  주택보급률(%)
0     송파구  가락1동  26125.190719  26120.413194   8344.0  1255.0     1.019
1     송파구  가락2동  25993.547328  25947.167555   9153.0  2272.0     0.908
2     송파구  가락본동  41818.437201  41624.432934   8682.0  3173.0     0.795
3     구로구  가리봉동  11824.105384  11764.873715   2791.0  2849.0     0.521
4     금천구   가산동  81435.798440  80162.635242  12228.5  9775.0     0.439
..    ...   ...           ...           ...      ...     ...       ...
425   용산구   효창동   9989.714368   9980.813432   3374.5  1082.0     0.883
426   용산구   후암동  12678.979160  12671.304860   5238.0  2800.0     0.736
427  동대문구  휘경1동  17092.518970  17118.852358   5597.0  3336.0     0.651
428  동대문구  휘경2동  18469.509247  18424.607232   8350.5  4785.0     0.623
429   동작구   흑석동  31487.727133  31408.086541   9361.0  4562.0     0.717

[430 rows x 7 columns]

In [ ]:
final_dat3[final_dat3.duplicated(['행정동명'])==True]  # 중복 데이터 확인

     자치구 행정동명     평일 총생활인구수     주말 총생활인구수  청년인구 수    1인가구  주택보급률(%)
245  강남구  신사동  36706.853724  36665.332604  9712.5  7282.0     0.772
246  관악구  신사동  36706.853724  36665.332604  9712.5  2047.0     0.337
247  강남구  신사동  36706.853724  36665.332604  9712.5  2047.0     0.772
248  관악구  신사동  36706.853724  36665.332604  4371.5  7282.0     0.337
249  강남구  신사동  36706.853724  36665.332604  4371.5  7282.0     0.772
250  관악구  신사동  36706.853724  36665.332604  4371.5  2047.0     0.337
251  강남구  신사동  36706.853724  36665.332604  4371.5  2047.0     0.772

In [ ]:
### 중복 행 삭제
final_dat33 = final_dat3.drop([247, 248, 249, 250, 251])
final_dat33[final_dat33.duplicated(['행정동명'])==True]  # 중복 행 삭제 확인

     자치구 행정동명     평일 총생활인구수     주말 총생활인구수  청년인구 수    1인가구  주택보급률(%)
245  강남구  신사동  36706.853724  36665.332604  9712.5  7282.0     0.772
246  관악구  신사동  36706.853724  36665.332604  9712.5  2047.0     0.337

In [ ]:
### '자치구' 컬럼과 병합
gu = final_dat3.loc[:, ['자치구', '행정동명']]
gu = pd.DataFrame(gu)
gu
final_dat5 = pd.merge(gu, final_dat33, how = 'left', on = '행정동명')
final_dat5 = final_dat5.groupby('행정동명').mean()
final_dat5

         평일 총생활인구수     주말 총생활인구수   청년인구 수    1인가구  주택보급률(%)
행정동명
가락1동  26125.190719  26120.413194   8344.0  1255.0     1.019
가락2동  25993.547328  25947.167555   9153.0  2272.0     0.908
가락본동  41818.437201  41624.432934   8682.0  3173.0     0.795
가리봉동  11824.105384  11764.873715   2791.0  2849.0     0.521
가산동   81435.798440  80162.635242  12228.5  9775.0     0.439
...            ...           ...      ...     ...       ...
효창동    9989.714368   9980.813432   3374.5  1082.0     0.883
후암동   12678.979160  12671.304860   5238.0  2800.0     0.736
휘경1동  17092.518970  17118.852358   5597.0  3336.0     0.651
휘경2동  18469.509247  18424.607232   8350.5  4785.0     0.623
흑석동   31487.727133  31408.086541   9361.0  4562.0     0.717

[423 rows x 5 columns]

In [ ]:
### '역 개수', '병원 개수' 컬럼과 병합
final_dat5 = pd.merge(final_dat33, dataframe_n, how = 'left', on='행정동명')  # 행정동명을 기준으로 병합 => 역 개수
final_dat6 = pd.merge(final_dat5, alarm_1, how = 'left', on = '행정동명')  # 행정동명을 기준으로 병합 => 병원 개수
final_dat6

,자치구,행정동명,평일 총생활인구수,주말 총생활인구수,청년인구 수,1인가구,주택보급률(%),역 개수,병원 개수
0,송파구,가락1동,26125.190719,26120.413194,8344.0,1255.0,1.019,NaN,NaN
1,송파구,가락2동,25993.547328,25947.167555,9153.0,2272.0,0.908,NaN,NaN
2,송파구,가락본동,41818.437201,41624.432934,8682.0,3173.0,0.795,NaN,NaN
3,구로구,가리봉동,11824.105384,11764.873715,2791.0,2849.0,0.521,NaN,13.0
4,금천구,가산동,81435.798440,80162.635242,12228.5,9775.0,0.439,1.0,76.0
...,...,...,...,...,...,...,...,...,...
420,용산구,효창동,9989.714368,9980.813432,3374.5,1082.0,0.883,1.0,NaN
421,용산구,후암동,12678.979160,12671.304860,5238.0,2800.0,0.736,NaN,14.0
422,동대문구,휘경1동,17092.518970,17118.852358,5597.0,3336.0,0.651,NaN,NaN
423,동대문구,휘경2동,18469.509247,18424.607232,8350.5,4785.0,0.623,NaN,NaN
424,동작구,흑석동,31487.727133,31408.086541,9361.0,4562.0,0.717,NaN,49.0

In [ ]:
# final_dat6[final_dat6['행정동명'].str.contains('*')]  # 특정 단어를 포함하는 인덱스 찾기

In [ ]:
final_dat6 = final_dat6.drop(147, axis = 0)
final_dat6 = final_dat6.drop(355, axis = 0)
final_dat6 = final_dat6.drop(358, axis = 0)

In [ ]:
final_dat6.loc[170, '역 개수'] = 6
final_dat6.loc[171, '역 개수'] = 6
final_dat6.loc[172, '역 개수'] = 6
final_dat6.loc[173, '역 개수'] = 6
final_dat6.loc[174, '역 개수'] = 6
final_dat6.loc[175, '역 개수'] = 6
final_dat6.loc[176, '역 개수'] = 6
final_dat6.loc[177, '역 개수'] = 6
final_dat6.loc[164, '역 개수'] = 6
final_dat6.loc[165, '역 개수'] = 6
final_dat6.loc[236, '역 개수'] = 6
final_dat6.loc[0, '역 개수'] = 5
final_dat6.loc[1, '역 개수'] = 5
final_dat6.loc[2, '역 개수'] = 5
final_dat6.loc[135, '역 개수'] = 5
final_dat6.loc[136, '역 개수'] = 5
final_dat6.loc[156, '역 개수'] = 5
final_dat6.loc[157, '역 개수'] = 5
final_dat6.loc[158, '역 개수'] = 5
final_dat6.loc[159, '역 개수'] = 5
final_dat6.loc[160, '역 개수'] = 5
final_dat6.loc[191, '역 개수'] = 5
final_dat6.loc[192, '역 개수'] = 5
final_dat6.loc[193, '역 개수'] = 5
final_dat6.loc[194, '역 개수'] = 5
final_dat6.loc[25, '역 개수'] = 4
final_dat6.loc[26, '역 개수'] = 4
final_dat6.loc[242, '역 개수'] = 4
final_dat6.loc[243, '역 개수'] = 4
final_dat6.loc[334, '역 개수'] = 4
final_dat6.loc[335, '역 개수'] = 4
final_dat6.loc[332, '역 개수'] = 4
final_dat6.loc[333, '역 개수'] = 4
final_dat6.loc[336, '역 개수'] = 4
final_dat6.loc[337, '역 개수'] = 4
final_dat6.loc[400, '역 개수'] = 4
final_dat6.loc[401, '역 개수'] = 4
final_dat6.loc[31, '역 개수'] = 3
final_dat6.loc[32, '역 개수'] = 3
final_dat6.loc[33, '역 개수'] = 3
final_dat6.loc[34, '역 개수'] = 3
final_dat6.loc[35, '역 개수'] = 3
final_dat6.loc[58, '역 개수'] = 3
final_dat6.loc[59, '역 개수'] = 3
final_dat6.loc[90, '역 개수'] = 3
final_dat6.loc[91, '역 개수'] = 3
final_dat6.loc[102, '역 개수'] = 3
final_dat6.loc[103, '역 개수'] = 3
final_dat6.loc[104, '역 개수'] = 3
final_dat6.loc[105, '역 개수'] = 3
final_dat6.loc[106, '역 개수'] = 3
final_dat6.loc[107, '역 개수'] = 3
final_dat6.loc[130, '역 개수'] = 3
final_dat6.loc[131, '역 개수'] = 3
final_dat6.loc[132, '역 개수'] = 3
final_dat6.loc[133, '역 개수'] = 3
final_dat6.loc[134, '역 개수'] = 3
final_dat6.loc[140, '역 개수'] = 3
final_dat6.loc[141, '역 개수'] = 3
final_dat6.loc[142, '역 개수'] = 3
final_dat6.loc[324, '역 개수'] = 3
final_dat6.loc[366, '역 개수'] = 3
final_dat6.loc[310, '역 개수'] = 3
final_dat6.loc[47, '역 개수'] = 3
final_dat6.loc[402, '역 개수'] = 3
final_dat6.loc[386, '역 개수'] = 3
final_dat6.loc[387, '역 개수'] = 3
final_dat6.loc[207, '역 개수'] = 3
final_dat6.loc[256, '역 개수'] = 3
final_dat6.loc[257, '역 개수'] = 3
final_dat6.loc[258, '역 개수'] = 3
final_dat6.loc[259, '역 개수'] = 3
final_dat6.loc[260, '역 개수'] = 3
final_dat6.loc[261, '역 개수'] = 3
final_dat6.loc[380, '역 개수'] = 3
final_dat6.loc[381, '역 개수'] = 3
final_dat6.loc[382, '역 개수'] = 3
final_dat6.loc[409, '역 개수'] = 3
final_dat6.loc[410, '역 개수'] = 3
final_dat6.loc[411, '역 개수'] = 3
final_dat6.loc[412, '역 개수'] = 3
final_dat6.loc[413, '역 개수'] = 3
final_dat6.loc[414, '역 개수'] = 3
final_dat6.loc[415, '역 개수'] = 3

In [ ]:
### 결측치 중앙값으로 대체
final_dat6.loc[final_dat6['청년인구 수'] != final_dat6['청년인구 수'], '청년인구 수'] = final_dat6['청년인구 수'].median()
final_dat6.loc[final_dat6['1인가구'] != final_dat6['1인가구'], '1인가구'] = final_dat6['1인가구'].median()
final_dat6.loc[final_dat6['주택보급률(%)'] != final_dat6['주택보급률(%)'], '주택보급률(%)'] = final_dat6['주택보급률(%)'].median()
final_dat6.loc[final_dat6['역 개수'] != final_dat6['역 개수'], '역 개수'] = final_dat6['역 개수'].median()
final_dat6.loc[final_dat6['병원 개수'] != final_dat6['병원 개수'], '병원 개수'] = final_dat6['병원 개수'].median()

In [ ]:
# final_dat6[final_dat6[''].isnull()] # 결측치 없음 확인

In [ ]:
final_dat6

,자치구,행정동명,평일 총생활인구수,주말 총생활인구수,청년인구 수,1인가구,주택보급률(%),역 개수,병원 개수
0,송파구,가락1동,26125.190719,26120.413194,8344.0,1255.0,1.019,5.0,36.0
1,송파구,가락2동,25993.547328,25947.167555,9153.0,2272.0,0.908,5.0,36.0
2,송파구,가락본동,41818.437201,41624.432934,8682.0,3173.0,0.795,5.0,36.0
3,구로구,가리봉동,11824.105384,11764.873715,2791.0,2849.0,0.521,3.0,13.0
4,금천구,가산동,81435.798440,80162.635242,12228.5,9775.0,0.439,1.0,76.0
...,...,...,...,...,...,...,...,...,...
420,용산구,효창동,9989.714368,9980.813432,3374.5,1082.0,0.883,1.0,36.0
421,용산구,후암동,12678.979160,12671.304860,5238.0,2800.0,0.736,3.0,14.0
422,동대문구,휘경1동,17092.518970,17118.852358,5597.0,3336.0,0.651,3.0,36.0
423,동대문구,휘경2동,18469.509247,18424.607232,8350.5,4785.0,0.623,3.0,36.0
424,동작구,흑석동,31487.727133,31408.086541,9361.0,4562.0,0.717,3.0,49.0

### 정규화(Min-Max Scaling)

In [ ]:
import sklearn
from sklearn.preprocessing import *

scaler_mm = MinMaxScaler().fit_transform(final_dat6.loc[:, ['평일 총생활인구수', '주말 총생활인구수', '청년인구 수', '1인가구',
                                                            '주택보급률(%)', '역 개수', '병원 개수']])
scaler_mm = pd.DataFrame(scaler_mm)
scaler_mm.columns = ['평일 총생활인구수', '주말 총생활인구수', '청년인구 수', '1인가구', '주택보급률(%)', '역 개수', '병원 개수']  # 열 이름 재설정
scaler_mm.columns = ['ST_WEEK', 'ST_HOLI', 'ST_YOUT', 'ST_SOLO', 'ST_HOUS', 'ST_SUBW', 'ST_HOSP']  # 열 이름 변경
scaler_mm

      ST_WEEK   ST_HOLI   ST_YOUT   ST_SOLO   ST_HOUS  ST_SUBW   ST_HOSP
0    0.172275  0.174004  0.420536  0.093008  0.891278      0.8  0.038981
1    0.171255  0.172647  0.461346  0.168739  0.758662      0.8  0.038981
2    0.293857  0.295411  0.437587  0.235833  0.623656      0.8  0.038981
3    0.061478  0.061591  0.140414  0.211706  0.296296      0.4  0.004498
4    0.600790  0.597190  0.616491  0.727456  0.198327      0.0  0.098951
..        ...       ...       ...       ...       ...      ...       ...
417  0.047266  0.047620  0.169849  0.080125  0.728793      0.0  0.038981
418  0.068101  0.068689  0.263854  0.208057  0.553166      0.4  0.005997
419  0.102295  0.103516  0.281963  0.247971  0.451613      0.4  0.038981
420  0.112963  0.113741  0.420864  0.355872  0.418160      0.4  0.038981
421  0.213821  0.215410  0.471839  0.339266  0.530466      0.4  0.058471

[422 rows x 7 columns]

### 점수화

In [ ]:
score = scaler_mm['ST_WEEK'] + scaler_mm['ST_HOLI'] + scaler_mm['ST_YOUT'] + scaler_mm['ST_SOLO'] + scaler_mm['ST_HOUS'] + scaler_mm['ST_SUBW'] + scaler_mm['ST_HOSP']
score = pd.DataFrame(score)
score.columns = ['SCORE']

hjd = final_dat6.drop(columns = ['평일 총생활인구수', '주말 총생활인구수', '청년인구 수', '1인가구', '주택보급률(%)', '역 개수', '병원 개수'])

score_final = pd.concat([scaler_mm, score], axis = 1)
score_final = pd.concat([hjd, score_final], axis = 1)
score_final = score_final.sort_values('SCORE', ascending = False)
score_final

# score_final.to_csv('/content/gdrive/My Drive/datasciencebasis/점수 데이터.csv', index = False, encoding = 'cp949')

##############결과##############
################################
## 1순위: 영등포구 여의도동
## 2순위: 관악구 신사동(신림4동)
## 3순위: 영등포구 양평2동(양평동3가)
## 4순위: 서초구 서초2동
## 5순위: 노원구 상계5동
################################
################################

,자치구,행정동명,ST_WEEK,ST_HOLI,ST_YOUT,ST_SOLO,ST_HOUS,ST_SUBW,ST_HOSP,SCORE
278,영등포구,여의동,1.000000,1.000000,0.869725,0.947874,0.377539,0.4,0.038981,4.634119
244,관악구,신사동,0.254255,0.256578,0.489570,0.541812,0.596177,0.6,1.000000,3.738393
277,영등포구,양평2동,0.915996,0.913411,0.438394,0.198526,0.695341,0.4,0.038981,3.600648
192,서초구,서초2동,0.607524,0.608200,0.539562,0.360786,0.602151,0.8,0.038981,3.557203
174,노원구,상계5동,0.344383,0.347878,0.469115,0.261970,0.923536,1.0,0.038981,3.385863
...,...,...,...,...,...,...,...,...,...,...
283,서대문구,연희동,0.058001,0.058234,0.220092,0.131730,0.439665,0.0,0.019490,0.927213
90,강동구,둔촌1동,0.005572,0.005454,0.000000,0.000000,0.133811,0.4,0.038981,0.583818
422,동대문구,휘경1동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,동대문구,휘경2동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,동작구,흑석동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN